# Compiler outputs #
# Directories #
data
data/
# logs
*.a
*.bat
*.egg-info/
*.exe
*.ipynb_checkpoints
*.json
*.npy
*.pkl
*.pyc
.venv/
__pycache__/
experimental_scripts
needs_cleanup
old
results
runs/
tracks
wandb/
